@import '../../../styles/config';
.loader {
    animation: l5 2s steps(11) infinite;
    color: $monoDark;
    clip-path: inset(0 100% 0 0);
    font-family: monospace;
    font-size: inherit;
    font-weight: bold;
    margin: 0 calc(50% - 5ch) 10px;
    text-align: center;
    width: fit-content;
}

.loader:before {
    content: "Loading..."
}

@keyframes l5 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}