<form [formGroup]="formGroup">
    @if (countries.loading()) {
        <app-loader [loading]="countries.loading()" />
    } @else {
        @if (countries.list().length) {
            <div class="form-control form-required">
                <label for="countryIsoCode">Country</label>
                <select formControlName="countryIsoCode" id="countryIsoCode" (change)="setCountry($event)">
                    <option value="">Select country</option>
                    @for (country of countries.list(); track country.isoCode) {
                        <option [value]="country.isoCode">{{ country.displayName }}</option>
                    }
                </select>
                <app-error [errors]="formErrors['countryIsoCode']"></app-error>
            </div>
        }
    }
    @if (subdivisions.loading()) {
        <app-loader [loading]="subdivisions.loading()" />
    } @else {
        @if (subdivisions.list().length) {
            <div class="form-control">
                <label for="subdivision">Subdivision</label>
                <select formControlName="subdivision" id="subdivision">
                    <option value="">Select subdivision</option>
                    @for (subvivision of subdivisions.list(); track subvivision.shortName) {
                        <option [value]="subvivision.code">{{ subvivision.displayName }}</option>
                    }
                </select>
                <app-error [errors]="formErrors['subdivision']"></app-error>
            </div>
        }
    }
    @if (showDatePicker) {
        <div class="form-control-group">
            <div class="form-control form-required">
                <label for="validFrom">From</label>
                <input type="date" formControlName="validFrom" id="validFrom" [min]="minDate" />
                <app-error [errors]="formErrors['validFrom']"></app-error>
            </div>
            <div class="form-control form-required">
                <label for="validTo">To</label>
                <input type="date" formControlName="validTo" id="validTo" [min]="formGroup.value['validFrom'] || minDate" />
                <app-error [errors]="formErrors['validTo']"></app-error>
            </div>
        </div>
    }
    <app-error [errors]="countries.errors() || subdivisions.errors() || formErrors['form']"></app-error>
    <button type="button" class="cc-button" (click)="submit()" [disabled]="formGroup.invalid">Retrieve Holidays</button>
</form>