<form [formGroup]="formGroup">
    @if (countries.loading()) {
        <app-loader [loading]="countries.loading()" />
    } @else {
        <div class="form-group">
            @if (countries.list().length) {
                <div class="form-control form-required">
                    <label for="countryIsoCode">Country</label>
                    <select formControlName="countryIsoCode" id="countryIsoCode" (change)="setCountry($event)">
                        <option value="">Select country</option>
                        @for (country of countries.list(); track country.isoCode) {
                            <option [value]="country.isoCode">{{ country.displayName }}</option>
                        }
                    </select>
                </div>
            }
        </div>
    }
    @if (subdivisions.loading()) {
        <app-loader [loading]="subdivisions.loading()" />
    } @else {
        @if (subdivisions.list().length) {
            <div class="form-control form-required">
                <label for="subdivision">Subdivision</label>
                <select formControlName="subdivision" id="subdivision">
                    <option value="">Select subdivision</option>
                    @for (subvivision of subdivisions.list(); track subvivision.shortName) {
                        <option [value]="subvivision.code">{{ subvivision.displayName }}</option>
                    }
                </select>
            </div>
        }
    }
    @if (showDatePicker) {
        <div class="form-control-group">
            <div class="form-control form-required">
                <label for="validFrom">From</label>
                <input type="date" formControlName="validFrom" id="validFrom" [min]="minDate" />
                <pre>{{ formGroup.controls['validFrom'].errors | json }}</pre>
            </div>
            <div class="form-control form-required">
                <label for="validTo">To</label>
                <input type="date" formControlName="validTo" id="validTo" [min]="formGroup.value['validFrom'] || minDate" />
                <pre>{{ formGroup.controls['validFrom'].errors | json }}</pre>
            </div>
        </div>
    }
    <app-error [errors]="countries.errors() || subdivisions.errors()"></app-error>
    <pre>{{ formGroup.errors | json }}</pre>
    <button type="button" class="cc-button" (click)="submit()" [disabled]="formGroup.invalid">Retrieve Holidays</button>
</form>