@import '../../../../styles/config';
form {
    background: $monoLight;
    border-radius: 5px;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
}

.form-control-group {
    display: flex;
    .form-control {
        flex: 1;
    }
}

.form-control {
    margin-bottom: 10px;
}

.form-required {
    label {
        &:after {
            content: '*';
            display: inline-block;
        }
    }
}

select,
input[type=date],
button {
    border: 2px solid $mono;
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: $bodySize;
    padding: 5px;
}

select,
button {
    width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $background;
    background-image: linear-gradient(45deg, transparent 50%, $mono 50%), linear-gradient(135deg, $mono 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em - 3px), calc(100% - 15px) calc(1em - 3px), calc(100% - 2.5em) 0.5em;
    background-repeat: no-repeat;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    outline: none;
}

label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
}

button {
    background: $body;
    color: $background;
    cursor: pointer;
    &:enabled {
        border-color: $body;
    }
    &:disabled {
        background: $monoLight;
        color: $mono;
        cursor: default;
    }
}