@import '../../../../styles/config';
select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: $background;
    border: 2px solid rgba($bodyColor, 0.25);
    border-radius: 5px;
    display: block;
    font-family: inherit;
    font-size: $bodySize;
    margin-bottom: 10px;
    outline: none;
    padding: 5px;
    width: 100%;
}