table {
    border-collapse: collapse;
    display: block;
    font-size: inherit;
    overflow-x: auto;
    width: 100%;
}

tr {
    border-bottom: 1px solid #CCC;
}

th {
    font-weight: bold;
    text-align: left;
}

th,
td {
    font-size: initial;
    padding: 5px 10px;
    white-space: nowrap;
}

.full-width {
    width: 100%;
}

.no-results,
.data-center {
    text-align: center;
}

.data-right {
    text-align: right;
}

.no-results {
    font-style: italic;
}