@if (holidays.loading()) {
    <app-loader [loading]="holidays.loading()" />
} @else {
    <app-error [errors]="holidays.errors()"></app-error>
    @if (holidays.list().length) {
        <table>
            <thead>
                <tr>
                    <th class="full-width">Name</th>
                    <th class="data-center">Nationwide</th>
                    <th class="data-right">Start Date</th>
                    <th class="data-right">End Date</th>
                </tr>
            </thead>
            <tbody>
                @for (holiday of holidays.list(); track holiday.id) {
                    <tr>
                        <td class="full-width">{{ holiday.displayName }}</td>
                        <td class="data-center">{{ holiday.nationwide ? 'yes' : 'no' }}</td>
                        <td class="data-right">{{ holiday.startDate }}</td>
                        <td class="data-right">{{ holiday.endDate }}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}